<header class="header shop">
    <!-- Middle Inner -->
    <div class="middle-inner">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-12">
                    <!-- Logo -->
                    <div class="logo">
                        <a href="/admin-dashboard"><img src="images/logo3.png" alt="PustakPanna" style="align-self: right;"></a>
                    </div>
                    <!--/ End Logo -->
                </div>
                <div class="col-lg-6 col-md-7 col-12">
                    <!-- <div class="search-bar-top">
                        <div class="search-bar">
                            <form>
                                <input name="search" placeholder="Search Products Here....." type="search">
                                <button class="btnn"><i class="ti-search"></i></button>
                            </form>
                        </div>
                    </div> -->
                    
                </div>
                <div class="col-lg-4 col-md-3 col-12">
                    <div class="right-bar">
                        <!-- Account and Login Links -->
                        <!-- <div class="sinlge-bar account">
                            <a href="/profile" class="single-icon"><i class="ti-user"></i> <span>My Account</span></a>
                        </div>
                        <div class="sinlge-bar login">
                            <a href="/login" class="single-icon"><i class="ti-power-off"></i> <span>Login</span></a>
                        </div>
                        <div class="sinlge-bar admin-login">
                            <a href="/admin-login" class="single-icon"><i class="ti-user"></i> <span>Admin</span></a>
                        </div> -->

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header Inner -->
    <div class="header-inner">
        <div class="container">
            <div class="cat-nav-head">
                <div class="row">
                    <div class="col-lg-12 col-12">
                        <div class="menu-area">
                            <!-- Main Menu -->
                            <nav class="navbar navbar-expand-lg">
                                <div class="navbar-collapse">    
                                    <div class="nav-inner">    
                                        <ul class="nav main-menu menu navbar-nav">
                                            <li class="active"><a href="/admin-dashboard">Dashboard</a></li>
                                            <li><a href="/admin/users">Users</a></li>
                                            <li><a href="/admin/books">Books</a></li>
                                            <li><a href="/admin/orders">Orders</a></li>
                                            <li><a href="/admin/reports">Reports</a></li>
                                            <li><a href="/admin/settings">Settings</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </nav>    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
