<header class="header shop">
    <!-- Middle Inner -->
    <div class="middle-inner">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-5 col-12">
                    <!-- Logo -->
                    <div class="logo">
                        <a href="/admin-dashboard"><img src="/images/white.png" alt="PustakPanna" style="align-self: right; width:120px; height:120px;"></a>
                    </div>
                    <!--/ End Logo -->
                </div>
                
                <div class="col-lg-8 col-md-8 col-12">
                    <div class="right-bar">
                        <div class="float">
                            <a href="/" class="single-icon"><i class="ti-power-off"></i> Log out<span></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header Inner -->
    <div class="header-inner">
        <div class="container">
            <div class="cat-nav-head">
                <div class="row">
                    <div class="col-lg-12 col-12">
                        <div class="menu-area">
                            <!-- Main Menu -->
                            <nav class="navbar navbar-expand-lg">
                                <div class="navbar-collapse">    
                                    <div class="nav-inner">    
                                        <ul class="nav main-menu menu navbar-nav">
                                            <li class="<%= currentPath && currentPath === '/admin-dashboard' ? 'active' : '' %>"><a href="/admin-dashboard">Dashboard</a></li>
                                            <li class="<%= currentPath && currentPath === '/books' ? 'active' : '' %>"><a href="/books">Books</a></li>
                                            <li class="<%= currentPath && currentPath === '/coupons' ? 'active' : '' %>"><a href="/coupons">Coupons</a></li>
                                            <li class="<%= currentPath && currentPath.startsWith('/orders') ? 'active' : '' %>"><a href="/orders">Orders</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </nav>    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>


