
<footer class="footer">
    <!-- Footer Top -->
    <div class="footer-top section">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-12">
                    <!-- Single Widget -->
                    <div class="single-footer about">
                        <div class="logo">
                            <a href="/admin-dashboard"><img src="/images/logo4.png" alt="PustakPanna Admin"></a>
                        </div>
                        <div class="copyright">
                            <div class="container">
                                <div class="inner">
                                    <div class="row">
                                        <div class="col-lg-6 col-12">
                                            <div class="left">
                                                <p>Copyright © 2024 <a href="http://www.PustakPanna.com" target="_blank">PustakPanna</a><br> All Rights Reserved.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Widget -->
                </div>
                <div class="col-lg-2 col-md-6 col-12">
                    <!-- Single Widget -->
                    <div class="single-footer links">
                        <h4>Admin Resources</h4>
                        <ul>
                            <li><a href="/admin-dashboard">Dashboard</a></li>
                            <li><a href="/admin/users">User Management</a></li>
                            <li><a href="/admin/orders">Order Management</a></li>
                            <li><a href="/admin/reports">Reports</a></li>
                        </ul>
                    </div>
                    <!-- End Single Widget -->
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <!-- Single Widget -->
                    <div class="single-footer social">
                        <h4>Contact & Support</h4>
                        <!-- Single Widget -->
                        <div class="contact">
                            <ul>
                                <li>Admin Support: support@PustakPanna.com</li>
                                <li>Phone: +9976555555</li>
                                <li>Office Address: No. 29 Pokhara, Nepal</li>
                            </ul>
                        </div>
                        <!-- End Single Widget -->
                        <ul>
                            <li><a href="https://www.facebook.com/PustakPanna" target="_blank"><i class="ti-facebook"></i></a></li>
                            <li><a href="https://twitter.com/PustakPanna" target="_blank"><i class="ti-twitter"></i></a></li>
                            <li><a href="https://www.instagram.com/PustakPanna" target="_blank"><i class="ti-instagram"></i></a></li>
                        </ul>
                    </div>
                    <!-- End Single Widget -->
                </div>
            </div>
        </div>
    </div>
</footer>
