<header class="header admin">
    <!-- Middle Inner -->
    <div class="middle-inner">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-12">
                    <!-- Logo -->
                    <div class="logo">
                        <a href="/admin-dashboard"><img src="images/logo3.png" alt="PustakPanna Admin" style="align-self: right;"></a>
                    </div>
                    <!--/ End Logo -->
                </div>
                <div class="col-lg-10 col-md-10 col-12">
                    <div class="right-bar">
                        <!-- Admin Links -->
                        <div class="sinlge-bar admin-dashboard">
                            <a href="/admin-dashboard" class="single-icon"><i class="ti-dashboard"></i> <span>Dashboard</span></a>
                        </div>
                        <div class="sinlge-bar admin-users">
                            <a href="/admin/users" class="single-icon"><i class="ti-users"></i> <span>Users</span></a>
                        </div>
                        <div class="sinlge-bar admin-books">
                            <a href="/admin/books" class="single-icon"><i class="ti-book"></i> <span>Books</span></a>
                        </div>
                        <div class="sinlge-bar admin-orders">
                            <a href="/admin/orders" class="single-icon"><i class="ti-shopping-cart"></i> <span>Orders</span></a>
                        </div>
                        <div class="sinlge-bar admin-reports">
                            <a href="/admin/reports" class="single-icon"><i class="ti-stats-up"></i> <span>Reports</span></a>
                        </div>
                        <div class="sinlge-bar admin-settings">
                            <a href="/admin/settings" class="single-icon"><i class="ti-settings"></i> <span>Settings</span></a>
                        </div>
                        <div class="sinlge-bar logout">
                            <a href="/admin-logout" class="single-icon"><i class="ti-power-off"></i> <span>Logout</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header Inner -->
    <div class="header-inner">
        <div class="container">
            <div class="cat-nav-head">
                <div class="row">
                    <div class="col-lg-12 col-12">
                        <div class="menu-area">
                            <!-- Main Menu -->
                            <nav class="navbar navbar-expand-lg">
                                <div class="navbar-collapse">    
                                    <div class="nav-inner">    
                                        <ul class="nav main-menu menu navbar-nav">
                                            <li class="active"><a href="/admin-dashboard">Home</a></li>
                                            <li><a href="/admin/users">Users</a></li>
                                            <li><a href="/admin/books">Books</a></li>
                                            <li><a href="/admin/orders">Orders</a></li>
                                            <li><a href="/admin/reports">Reports</a></li>
                                            <li><a href="/admin/settings">Settings</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </nav>
                            <!--/ End Main Menu -->    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
