<header class="header shop">
    <!-- Middle Inner -->
    <div class="middle-inner">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-12">
                    <!-- Logo -->
                    <div class="logo">
                        <a href="/"><img src="images/logo3.png" alt="PustakPanna" style="align-self: right;"></a>
                    </div>
                    <!--/ End Logo -->
                </div>
                <div class="col-lg-6 col-md-7 col-12">
                    <!-- Search Bar -->
                    <div class="search-bar-top">
                        <div class="search-bar">
                            <form>
                                <input name="search" placeholder="Search Products Here....." type="search">
                                <button class="btnn"><i class="ti-search"></i></button>
                            </form>
                        </div>
                    </div>
                    <!--/ End Search Bar -->
                </div>
                <div class="col-lg-4 col-md-3 col-12">
                    <div class="right-bar">
                        <!-- Account and Login Links -->
                        <div class="sinlge-bar account">
                            <a href="/profile" class="single-icon"><i class="ti-user"></i> <span>My Account</span></a>
                        </div>
                        <div class="sinlge-bar login">
                            <a href="/login" class="single-icon"><i class="ti-power-off"></i> <span>Login</span></a>
                        </div>
<<<<<<< HEAD
=======
                        <!-- Shopping Cart -->
                        <div class="sinlge-bar shopping">
                            <a class="single-icon"><i class="ti-bag"></i> <span class="total-count">2</span></a>
                            <!-- Shopping Item -->
                            <div class="shopping-item">
                                <div class="dropdown-cart-header">
                                    <span>2 Items</span>
                                    <a href="/cart">View Cart</a>
                                </div>
                                <ul class="shopping-list">
                                    <li>
                                        <a href="#" class="remove" title="Remove this item"><i class="fa fa-remove"></i></a>
                                        <a class="cart-img" href="#"><img src="images/book10.png" alt="#"></a>
                                        <h4><a href="#">Power Of Your Subconcious Mind</a></h4>
                                        <p class="quantity">1x - <span class="amount">Rs.900</span></p>
                                    </li>
                                    <li>
                                        <a href="#" class="remove" title="Remove this item"><i class="fa fa-remove"></i></a>
                                        <a class="cart-img" href="#"><img src="images/book4.png" alt="#"></a>
                                        <h4><a href="#">One Blood</a></h4>
                                        <p class="quantity">1x - <span class="amount">Rs.500</span></p>
                                    </li>
                                </ul>
                                <div class="bottom">
                                    <div class="total">
                                        <span>Total</span>
                                        <span class="total-amount">Rs.1400</span>
                                    </div>
                                    <a href="/checkout" class="btn animate">Checkout</a>
                                </div>
                            </div>
                            <!--/ End Shopping Item -->
                        </div>
>>>>>>> 7a7daff061206e6b7c216a6acd24d36277c65a2e
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header Inner -->
    <div class="header-inner">
        <div class="container">
            <div class="cat-nav-head">
                <div class="row">
                    <div class="col-lg-12 col-12">
                        <div class="menu-area">
                            <!-- Main Menu -->
                            <nav class="navbar navbar-expand-lg">
                                <div class="navbar-collapse">    
                                    <div class="nav-inner">    
                                        <ul class="nav main-menu menu navbar-nav">
                                            <li class="active"><a href="/">Home</a></li>
                                            <li><a>Product<i class="ti-angle-down"></i><span class="new">New</span></a>
                                                <ul class="dropdown">
                                                    <li><a href="/new-releases">New Releases</a></li>
                                                    <li><a href="/best-sellers">Best Sellers</a></li>
                                                </ul>
                                            </li>
                                            <li><a>Genres<i class="ti-angle-down"></i></a>
                                                <ul class="dropdown">
                                                    <li><a href="genre-fiction.html">Fiction</a></li>
                                                    <li><a href="genre-non-fiction.html">Non-Fiction</a></li>
                                                    <li><a href="genre-mystery.html">Mystery</a></li>
                                                    <li><a href="genre-science-fiction.html">Science Fiction</a></li>
                                                    <li><a href="genre-romance.html">Romance</a></li>
                                                </ul>
                                            </li>
                                            <li><a>Shop<i class="ti-angle-down"></i></a>
                                                <ul class="dropdown">
                                                    <li><a href="/cart">Cart</a></li>
                                                    <li><a href="/checkout">Checkout</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="/about">About</a></li>
                                            <li><a href="/contact">Contact Us</a></li>
                                            
                                            <!-- Shopping Cart -->
                                            <li class="sinlge-bar shopping">
                                                <a class="single-icon"><i class="ti-bag"></i> <span class="total-count">2</span></a>
                                                <!-- Shopping Item -->
                                                <div class="shopping-item">
                                                    <div class="dropdown-cart-header">
                                                        <span>2 Items</span>
                                                        <a href="/cart">View Cart</a>
                                                    </div>
                                                    <ul class="shopping-list">
                                                        <li>
                                                            <a href="#" class="remove" title="Remove this item"><i class="fa fa-remove"></i></a>
                                                            <a class="cart-img" href="#"><img src="images/book10.png" alt="#"></a>
                                                            <h4><a href="#">Power Of Your Subconcious Mind</a></h4>
                                                            <p class="quantity">1x - <span class="amount">Rs.900</span></p>
                                                        </li>
                                                        <li>
                                                            <a href="#" class="remove" title="Remove this item"><i class="fa fa-remove"></i></a>
                                                            <a class="cart-img" href="#"><img src="images/book4.png" alt="#"></a>
                                                            <h4><a href="#">One Blood</a></h4>
                                                            <p class="quantity">1x - <span class="amount">Rs.500</span></p>
                                                        </li>
                                                    </ul>
                                                    <div class="bottom">
                                                        <div class="total">
                                                            <span>Total</span>
                                                            <span class="total-amount">Rs.1400</span>
                                                        </div>
                                                        <a href="checkout.html" class="btn animate">Checkout</a>
                                                    </div>
                                                </div>
                                                <!--/ End Shopping Item -->
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </nav>
                            <!--/ End Main Menu -->    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
