<header class="header shop">
    <!-- Middle Inner -->
    <div class="middle-inner">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-12">
                    <!-- Logo -->
                    <div class="logo">
                        <a href="/"><img src="/images/logo4.png" alt="PustakPanna" style="width: 240px; height: 45px; margin-bottom: 0px; padding-right: 15px;"></a>
                    </div>
                    <!--/ End Logo -->
                </div>
                <div class="col-lg-6 col-md-7 col-12">
                    <!-- Search Bar -->
                    <div class="search-bar-top">
                        <div class="search-bar">
                            <form>
                                <input name="search" placeholder="Search Products Here....." type="search">
                                <button class="btnn"><i class="ti-search"></i></button>
                            </form>
                        </div>
                    </div>
                    <!--/ End Search Bar -->
                </div>
                <div class="col-lg-4 col-md-3 col-12">
                    <div class="right-bar">
                        <!-- Conditional Account and Login Links -->
                        <% if (isAuthenticated) { %>
                            <div class="sinlge-bar logout">
                                <a href="#" onclick="confirmLogout(event)" class="single-icon"><i class="ti-power-off"></i> <span>Logout</span></a>
                            </div>
                            <div class="sinlge-bar account">
                                <a href="/profile" class="single-icon"><i class="ti-user"></i> <span>My Account</span></a>
                            </div>                          
                        <% } else { %>
                            <div class="sinlge-bar register">
                                <a href="/register" class="single-icon"><i class="ti-user"></i> <span>Sign Up</span></a>
                            </div>
                            <div class="sinlge-bar login">
                                <a href="/login" class="single-icon"><i class="ti-power-off"></i> <span>Login</span></a>
                            </div>
                            <div class="sinlge-bar admin-login">
                                <a href="/admin-login" class="single-icon"><i class="ti-user"></i> <span>Admin</span></a>
                            </div>
                        <% } %>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header Inner -->
    <div class="header-inner">
        <div class="container">
            <div class="cat-nav-head">
                <div class="row">
                    <div class="col-lg-12 col-12">
                        <div class="menu-area">
                            <!-- Main Menu -->
                            <nav class="navbar navbar-expand-lg">
                                <div class="navbar-collapse">    
                                    <div class="nav-inner">    
                                        <ul class="nav main-menu menu navbar-nav">
                                            <li class="active"><a href="/">Home</a></li>
                                            <li><a>Product<i class="ti-angle-down"></i><span class="new">New</span></a>
                                                <ul class="dropdown">
                                                    <li><a href="/new-releases">New Releases</a></li>
                                                    <li><a href="/best-sellers">Best Sellers</a></li>
                                                </ul>
                                            </li>
                                            <li><a>Genres<i class="ti-angle-down"></i></a>
                                                <ul class="dropdown">
                                                    <li><a href="/genre/Fiction">Fiction</a></li>
                                                    <li><a href="/genre/Non-Fiction">Non-Fiction</a></li>
                                                    <li><a href="/genre/Mystery">Mystery</a></li>
                                                    <li><a href="/genre/Science Fiction">Science Fiction</a></li>
                                                    <li><a href="/genre/Romance">Romance</a></li>
                                                    <li><a href="/genre/Finance">Finance</a></li>
                                                    <li><a href="/genre/Self Help">Self Help</a></li>
                                                    <li><a href="/genre/History">History</a></li>
                                                    <li><a href="/genre/Auto Biography">Auto-Biography</a></li>
                                                </ul>
                                            </li>                                      <li><a>Shop<i class="ti-angle-down"></i></a>
                                                <ul class="dropdown">
                                                    <li><a href="/cart">Cart</a></li>
                                                    <li><a href="/checkout">Checkout</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="/about">About</a></li>
                                            <li><a href="/contact">Contact Us</a></li>
                                            <li><a href="/orders">My Orders</a></li>
                                            <!-- Shopping Cart -->
                                            <li class="sinlge-bar shopping">
                                                <a class="single-icon" href="/cart"><i class="ti-bag"></i> <span class="total-count"><%= cartLength %></span></a>
                                                <!-- Shopping Item -->
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </nav>
                            <!--/ End Main Menu -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ End Header Inner -->
</header>

<!-- Include SweetAlert2 -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<!-- Confirmation Script -->
<script>
    function confirmLogout(event) {
        event.preventDefault(); // Prevent the default form submission

        Swal.fire({
            title: 'Are you sure?',
            text: "You will be logged out.",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, log out!',
            cancelButtonText: 'No, cancel!'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = '/logout'; // Redirect to logout route
            }
        });
    }
</script>