.admin-login-page main {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-image: url("#");
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  align-items: center;
}

.admin-login-container {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  width: 140px;
  text-align: center;
  margin: 20px;
  margin-left: 35%;
}

.admin-login-container h2 {
  margin-bottom: 20px;
  color: #444;
  font-weight: 600;
}
.form-group {
  margin-bottom: 20px;
  text-align: left;
}
.form-group label {
  display: block;
  margin-bottom: 8px;
  color: #555;
  font-weight: 500;
}
.form-group input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}
.button {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 10px;
}
.button:hover {
  background-color: #0056b3;
}
.link {
  display: block;
  margin-top: 15px;
  color: #007bff;
  text-decoration: none;
  font-size: 14px;
}
.link:hover {
  text-decoration: underline;
}